img {  
  width: auto;  
  height: 250px;
  margin: 20px; 
  box-shadow: 1px 1px 15px;
  border-radius: 5px;
  }  

  .picBox {
    display: inline-block;
  }

  .text {
    width: 200px;
    height: 200px;
    margin: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: black;
  }

  button {
    
  }