.App {
  text-align: center;
  /* background-image: url(242.jpg); */
  background-color: rgb(120, 188, 219);
  background-position: center;
  background-size: cover;
}

.App-header {
  background-color: rgb(71, 109, 81);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

